.CalendarPage {
    display: flex;
    height: 100%;
    font-family: Gotham;
}

.calendar-section {
    flex-grow: 1;
    height: 100%;
}

.fc-day-today {
    background-color: inherit !important;
}

.fc {
    height: 100%;
}

.fc-event {
    cursor: pointer;
}

.Calendar {
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
}
  
.calendar-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgb(86, 89, 119);

}

.icon img {
    width: 6vh;
    height: 6vh;
    object-fit: contain;
}

.scroll-sidebar {
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x:hidden;
    overflow-y: scroll;
}

.search-section {
    padding: 10px;
}

.search-input {
    width: 91.5%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.course-list {
    list-style: none;
    padding: 0;
}

.course-item {
    padding: 6px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
}

.add-to-calendar-button {
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;   
    float: right;
    margin-left: 10px;
    background-color: rgb(86, 89, 119)

}

.add-to-calendar-button img {
    width: 20px;
    height: 20px;
}

.grey-cart-button {
    filter: grayscale(100%);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}