.calendar-page-container {
    display: flex;
    height: 100%;
    font-family: Gotham;
}

.calendar-section {
    flex-grow: 1;
    height: 100%;
}

.fc-day-today {
    background-color: inherit !important;
}

.fc {
    height: 50%;
}
