.GraphPage {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Gotham;
  height: 92vh;
}
.content-container {
  display: flex; 
  flex: 1;
  width: 100%;
  height: 92vh;
}
.simulation-container{
  flex: 1;
  height: 92vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
 }

/* set in javascript */
 .simulation-svg{
  width: 100%;
  height: 100%;
 }

circle {
  fill: rgb(123, 165, 199); 
  stroke: #fff; 
  stroke-width: 4px;
  transition: transform 0.2s ease; 
  cursor: pointer;
}

line {
  stroke: #ccc;
}

text {
  text-anchor: middle;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  fill: rgb(0, 0, 0);
  font-size: 10px;
}

.line-text {
  text-anchor: middle;
  font-family: "Helvetica Neue Medium", Helvetica, sans-serif;
  font-size: 12px;
  fill: rgb(13, 9, 89);

}

.line-text:hover {
  fill: rgb(255, 163, 42);
}

.calendar-button {
  position: fixed;
  top: 7px;
  right: 20px;
}

.calendar-button img {
  width: 6vh;
  height: 6vh;
  object-fit: contain;
}

.calendar-button:hover {
  transform: scale(1.20)
}

.scroll-sidebar {
  width: 20%;
  min-width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  height: 92vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}


.search-section {
  padding: 10px;
}

.search-input {
  width: 91.5%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.course-list {
  list-style: none;
  padding: 0;
}

.course-item {
  padding: 8px;
  margin-bottom: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.add-to-calendar-button {
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;   
  float: right;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
  background-color: rgb(86, 89, 119)
}

.add-to-calendar-button:hover {
  transform: scale(1.25);
  background-color: rgb(197, 180, 24);
}


.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 600px;
  max-height: fit-content;
}

.tooltip-close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.tooltip-content {
  margin-top: 20px;
}

.tooltip-content h3 {
  margin: 0 0 10px 0;
}

.tooltip-content p {
  margin: 5px 0;
}

/* CSS inspired from https://getcssscan.com/css-buttons-examples*/
.buttons-on-graph {
  z-index: 1000;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  touch-action: manipulation;
}

.buttons-on-graph:hover {
  background-color: rgb(255, 242, 176);
  background-color: rgb(197, 180, 24);

}

.buttons-on-graph:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.help-button {
  background-color: rgb(86, 89, 119);
  position: absolute;
  top: 10px;
  left: 10px;
  height: 35px;
  width: 35px;
}

.back-button {
  background-color: rgb(86, 89, 119);
  position: absolute;
  right: 10px;
  top: 10px;
  height: 35px;
  width: 35px;
}

.randomizer {
  background-color: #b7caf6;
  position: absolute;
  bottom: 10px;
  right: 10px;
  /* height: 35px;
  width:  35px; */
  /* padding: 0 18px; */
}

.metadata-section {
  width: 20%; 
  min-width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f4f4f4;
  border-left: 1px solid #ddd;
  height: 92vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
  padding: 2px;
}

.p {
  padding: 5px;
}
/* 
text {
  text-anchor: middle;
  fill: rgb(0, 0, 0);
  font-size: 12px;
}

.line-text {
  text-anchor: middle;
  fill: rgb(14, 6, 166);
  font-size: 10px;
} */